<div class="col-md-4" style="border: thin lightblue solid; border-radius: 5px;padding: 1em;">
    <form class="form-horizontal">
        <label class="col-md-5">Year</label><div class="col-sm-7"><input class="input" ng-model="newCar.year"></div>
        <label class="col-md-5">Registered</label><div class="col-sm-7"><input type="date" class="input" ng-model="newCar.registered"></div>
        <label class="col-md-5">Make</label><div  class="col-sm-7"><input class="input" ng-model="newCar.make"></div>
        <label class="col-md-5">Model</label><div  class="col-sm-7"><input class="input" ng-model="newCar.model"></div>
        <label class="col-md-5">Description</label><div  class="col-sm-7"><input class="input" ng-model="newCar.description"></div>
        <label class="col-md-5">Price</label><div  class="col-sm-7"><input type="number" class="input" ng-model="newCar.price"></div>
        <div class="col-sm-12"><input type="button" value="Save" ng-click="save()" /></div>

    </form>
</div>